<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dtzhejiang.irs.res.bill.infra.mapper.SubReportMapper">
  <resultMap id="BaseResultMap" type="com.dtzhejiang.irs.res.bill.infra.model.SubReport">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="sub_type" jdbcType="BIGINT" property="subType" />
    <result column="operation_indices" jdbcType="VARCHAR" property="operationIndices" />
    <result column="operation_data" jdbcType="VARCHAR" property="operationData" />
    <result column="normal_value" jdbcType="VARCHAR" property="normalValue" />
    <result column="operation_results" jdbcType="VARCHAR" property="operationResults" />
    <result column="operation_results_status" jdbcType="VARCHAR" property="operationResultsStatus" />
    <result column="sub_status" jdbcType="VARCHAR" property="subStatus" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
    <result column="approval_id" jdbcType="VARCHAR" property="approvalId" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, name, sub_type, operation_indices, operation_data, normal_value, operation_results, 
    operation_results_status, sub_status, remark, approval_id, create_time, update_time
  </sql>
  <select id="selectByExample" parameterType="com.dtzhejiang.irs.res.bill.infra.model.SubReportExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from sub_report
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from sub_report
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from sub_report
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.dtzhejiang.irs.res.bill.infra.model.SubReportExample">
    delete from sub_report
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.dtzhejiang.irs.res.bill.infra.model.SubReport">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Long">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into sub_report (name, sub_type, operation_indices, 
      operation_data, normal_value, operation_results, 
      operation_results_status, sub_status, remark, 
      approval_id, create_time, update_time
      )
    values (#{name,jdbcType=VARCHAR}, #{subType,jdbcType=BIGINT}, #{operationIndices,jdbcType=VARCHAR}, 
      #{operationData,jdbcType=VARCHAR}, #{normalValue,jdbcType=VARCHAR}, #{operationResults,jdbcType=VARCHAR}, 
      #{operationResultsStatus,jdbcType=VARCHAR}, #{subStatus,jdbcType=VARCHAR}, #{remark,jdbcType=VARCHAR}, 
      #{approvalId,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.dtzhejiang.irs.res.bill.infra.model.SubReport">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Long">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into sub_report
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="name != null">
        name,
      </if>
      <if test="subType != null">
        sub_type,
      </if>
      <if test="operationIndices != null">
        operation_indices,
      </if>
      <if test="operationData != null">
        operation_data,
      </if>
      <if test="normalValue != null">
        normal_value,
      </if>
      <if test="operationResults != null">
        operation_results,
      </if>
      <if test="operationResultsStatus != null">
        operation_results_status,
      </if>
      <if test="subStatus != null">
        sub_status,
      </if>
      <if test="remark != null">
        remark,
      </if>
      <if test="approvalId != null">
        approval_id,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="subType != null">
        #{subType,jdbcType=BIGINT},
      </if>
      <if test="operationIndices != null">
        #{operationIndices,jdbcType=VARCHAR},
      </if>
      <if test="operationData != null">
        #{operationData,jdbcType=VARCHAR},
      </if>
      <if test="normalValue != null">
        #{normalValue,jdbcType=VARCHAR},
      </if>
      <if test="operationResults != null">
        #{operationResults,jdbcType=VARCHAR},
      </if>
      <if test="operationResultsStatus != null">
        #{operationResultsStatus,jdbcType=VARCHAR},
      </if>
      <if test="subStatus != null">
        #{subStatus,jdbcType=VARCHAR},
      </if>
      <if test="remark != null">
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="approvalId != null">
        #{approvalId,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.dtzhejiang.irs.res.bill.infra.model.SubReportExample" resultType="java.lang.Long">
    select count(*) from sub_report
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update sub_report
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=BIGINT},
      </if>
      <if test="record.name != null">
        name = #{record.name,jdbcType=VARCHAR},
      </if>
      <if test="record.subType != null">
        sub_type = #{record.subType,jdbcType=BIGINT},
      </if>
      <if test="record.operationIndices != null">
        operation_indices = #{record.operationIndices,jdbcType=VARCHAR},
      </if>
      <if test="record.operationData != null">
        operation_data = #{record.operationData,jdbcType=VARCHAR},
      </if>
      <if test="record.normalValue != null">
        normal_value = #{record.normalValue,jdbcType=VARCHAR},
      </if>
      <if test="record.operationResults != null">
        operation_results = #{record.operationResults,jdbcType=VARCHAR},
      </if>
      <if test="record.operationResultsStatus != null">
        operation_results_status = #{record.operationResultsStatus,jdbcType=VARCHAR},
      </if>
      <if test="record.subStatus != null">
        sub_status = #{record.subStatus,jdbcType=VARCHAR},
      </if>
      <if test="record.remark != null">
        remark = #{record.remark,jdbcType=VARCHAR},
      </if>
      <if test="record.approvalId != null">
        approval_id = #{record.approvalId,jdbcType=VARCHAR},
      </if>
      <if test="record.createTime != null">
        create_time = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.updateTime != null">
        update_time = #{record.updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update sub_report
    set id = #{record.id,jdbcType=BIGINT},
      name = #{record.name,jdbcType=VARCHAR},
      sub_type = #{record.subType,jdbcType=BIGINT},
      operation_indices = #{record.operationIndices,jdbcType=VARCHAR},
      operation_data = #{record.operationData,jdbcType=VARCHAR},
      normal_value = #{record.normalValue,jdbcType=VARCHAR},
      operation_results = #{record.operationResults,jdbcType=VARCHAR},
      operation_results_status = #{record.operationResultsStatus,jdbcType=VARCHAR},
      sub_status = #{record.subStatus,jdbcType=VARCHAR},
      remark = #{record.remark,jdbcType=VARCHAR},
      approval_id = #{record.approvalId,jdbcType=VARCHAR},
      create_time = #{record.createTime,jdbcType=TIMESTAMP},
      update_time = #{record.updateTime,jdbcType=TIMESTAMP}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.dtzhejiang.irs.res.bill.infra.model.SubReport">
    update sub_report
    <set>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="subType != null">
        sub_type = #{subType,jdbcType=BIGINT},
      </if>
      <if test="operationIndices != null">
        operation_indices = #{operationIndices,jdbcType=VARCHAR},
      </if>
      <if test="operationData != null">
        operation_data = #{operationData,jdbcType=VARCHAR},
      </if>
      <if test="normalValue != null">
        normal_value = #{normalValue,jdbcType=VARCHAR},
      </if>
      <if test="operationResults != null">
        operation_results = #{operationResults,jdbcType=VARCHAR},
      </if>
      <if test="operationResultsStatus != null">
        operation_results_status = #{operationResultsStatus,jdbcType=VARCHAR},
      </if>
      <if test="subStatus != null">
        sub_status = #{subStatus,jdbcType=VARCHAR},
      </if>
      <if test="remark != null">
        remark = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="approvalId != null">
        approval_id = #{approvalId,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.dtzhejiang.irs.res.bill.infra.model.SubReport">
    update sub_report
    set name = #{name,jdbcType=VARCHAR},
      sub_type = #{subType,jdbcType=BIGINT},
      operation_indices = #{operationIndices,jdbcType=VARCHAR},
      operation_data = #{operationData,jdbcType=VARCHAR},
      normal_value = #{normalValue,jdbcType=VARCHAR},
      operation_results = #{operationResults,jdbcType=VARCHAR},
      operation_results_status = #{operationResultsStatus,jdbcType=VARCHAR},
      sub_status = #{subStatus,jdbcType=VARCHAR},
      remark = #{remark,jdbcType=VARCHAR},
      approval_id = #{approvalId,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>